<app-breadcrumb titulo="Expreso Escolar" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Expresos</h4>
            <button class="btn btn-dark" (click)="openExpreso(contentExpreso)">Crear</button>
            <div class="form-group col-md-4 m-t-20" style="display: inline-flex;float:right">
                <input type="text" class="form-control" name="filterName" placeholder="Buscar..."
                    [(ngModel)]="filterName">
            </div>
            <h6 class="card-subtitle"></h6>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>No</th>
                            <th>Imagen</th>
                            <th>Razón social</th>
                            <th>Ruc</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Placa</th>
                            <th>Año</th>
                            <th>Conductor</th>
                            <th>Cédula</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let exp of expresos; let i=index ">
                            <th scope="row ">{{i+1}}</th>
                            <td>
                                <figure>
                                    <img class="avatar" [src]="exp.imagen" alt="image" data-holder-rendered="true"
                                        data-target=".bd-example-modal-lg" (click)="openImage(contentImage, exp)" />
                                </figure>
                            </td>
                            <td>{{exp.razon_social}}</td>
                            <td>{{exp.ruc}}</td>
                            <td>{{exp.correo}}</td>
                            <td>{{exp.telefono}}</td>
                            <td>{{exp.marca}}</td>
                            <td>{{exp.modelo}}</td>
                            <td>{{exp.placa}}</td>
                            <td>{{exp.ano}}</td>
                            <td>{{exp.conductor}}</td>
                            <td>{{exp.cedula}}</td>
                            <td>
                                <a data-toggle="tooltip" data-original-title="Editar"
                                    (click)="openExpreso(contentExpreso, exp)"> <i
                                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(exp.ID)"> <i
                                        class="fa fa-trash text-danger m-r-10"></i> </a>
                            </td>
                        </tr>
                        <!-- <tr *ngIf="expresos.length < 1">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                    existen datos</label></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Modal Crear/Editar-->
    <ng-template #contentExpreso let-modal>
        <div class="modal-header">
            <h4 *ngIf="!expreso.edit" class="modal-title" id="modal-basic-title">Crear expreso</h4>
            <h4 *ngIf="expreso.edit" class="modal-title" id="modal-basic-title">Editar expreso</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form (ngSubmit)="gestionExpreso()" #form="ngForm">
            <div class="modal-body">
                <!--Campo imagen-->

                <div class="form-group" *ngIf="imagenEdit">
                    <div class="image-preview mb-3" *ngIf="imagenEdit">
                        <img class="img-fluid" [src]="imagenEdit" height="500" width="100" />
                    </div>
                    <label for="imagen">Imagen del Expreso</label>
                    <input type="file" name="image" (change)="saveEditPicture($event)" accept="image/*" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div>

                <div class="form-group" *ngIf="!imagenEdit">
                    <div class="image-preview mb-3" *ngIf="imagen">
                        <img class="img-fluid" [src]="imagen" height="500" width="100" />
                    </div>
                    <label for="imagen">Imagen de Expreso</label>
                    <input type="file" name="image" (change)="preview($event)" accept="image/*" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        El peso de la imagen d-ebe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div>
                <!--Campo Razon social-->
                <div class="form-group">
                    <input [value]="razon_social" [(ngModel)]="razon_social" name="razon_social" class="form-control"
                        type="text" required placeholder="Razón social">
                </div>
                <!--Campo Documento-->
                <div class="form-group">
                    <input [value]="documento" [(ngModel)]="documento" name="documento" class="form-control" type="text"
                        required placeholder="Ruc">
                </div>
                <!--Campo Correo-->
                <div class="form-group">
                    <input [value]="correo" [(ngModel)]="correo" name="correo" class="form-control" type="text" required
                        placeholder="Correo">
                </div>
                <!--Campo Telefono-->
                <div class="form-group">
                    <input [value]="telefono" [(ngModel)]="telefono" name="telefono" class="form-control" type="text"
                        required placeholder="Teléfono">
                </div>
                <!--Campo Telefono-->
                <div class="form-group">
                    <input [value]="marca" [(ngModel)]="marca" name="marca" class="form-control" type="text" required
                        placeholder="Marca">
                </div>
                <!--Campo Modelo-->
                <div class="form-group">
                    <input [value]="modelo" [(ngModel)]="modelo" name="modelo" class="form-control" type="text"
                        required placeholder="Modelo">
                </div>
                <!--Campo Placa-->
                <div class="form-group">
                    <input [value]="placa" [(ngModel)]="placa" name="placa" class="form-control" type="text" required
                        placeholder="Placa">
                </div>
                <!--Campo Año-->
                <div class="form-group">
                    <input [value]="ano" [(ngModel)]="ano" name="ano" class="form-control" type="text" required
                        placeholder="Año">
                </div>
                <!--Campo Conductor-->
                <div class="form-group">
                    <input [value]="conductor" [(ngModel)]="conductor" name="conductor" class="form-control" type="text"
                        required placeholder="Conductor">
                </div>
                <!--Campo Cedula-->
                <div class="form-group">
                    <input [value]="cedula" [(ngModel)]="cedula" name="cedula" class="form-control" type="text" required
                        placeholder="Cédula">
                </div>
            </div>
            <!--Footer del Modal Botón  Guardar/Editar-->
            <div class="modal-footer">
                <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!expreso.edit">Guardar</span>
                    <span *ngIf="expreso.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </form>
    </ng-template>

    <!--Template modal ver imagen -->
    <ng-template #contentImage let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Imagen de expreso</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="imagenPerfil">
            <figure class="box">
                <img [src]="imagenPerfil.imagen" alt="image" />
            </figure>
        </div>
    </ng-template>
</div>