<app-breadcrumb titulo="Área Social" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
       
        <div _ngcontent-yej-c10 class="row">
        <div _ngcontent-yej-c10 class="col-lg-4 col-md-3 col-sm-12 col-xs-12"  *ngFor="let mat of areas | filter:filterName; let i=index ">
        <div _ngcontent-mbv-c5 class="card"> 
            <div _ngcontent-mbv-c5 class="row">

             
                <!-- <div *ngIf="mat.precio ===0">
                    <p  class="col-md=1" class="card-text"> Gratis</p>
                </div>
                <div *ngIf="mat.precio >0">
                    <p class="card-text">${{mat.precio}}</p>
                </div> -->
           
            
            </div>
            <img style="height: 150px;" [src]="mat.imagen" class="" alt="Card image cap"  height="104.69"(click)="openImage(mat)" data-toggle="modal" data-target=".bd-example-modal-lg">
            <div _ngcontent-mbv-c5 class="row">
                <div class="col-md-8">
                    <p class="card-text">{{mat.nombre}}</p>
                </div>
                <div class="col align-self-end" style="text-align:right;">
                  <a data-toggle="tooltip" data-original-title="Informacion" (click)="openInfo(contentAreaInfo, mat)"><i class="fa fa-info-circle text-inverse m-r-10"></i> </a>
                  <a data-toggle="tooltip" data-original-title="Recaudaciones" (click)="openRecaudaciones(contentAreaRecaudaciones, mat)"><i class="fa fa-usd text-inverse m-r-10"></i> </a>
                 <a data-toggle="tooltip" data-original-title="Reservas" (click)="openReservas(contentAreaReservas, mat)"><i class="fa fa-list text-inverse m-r-10"></i> </a>
                 <a data-toggle="tooltip" data-original-title="Horarios" (click)="openHorarios(contentHorarios, mat)"><i class="fa fa-clock-o text-inverse m-r-10"></i> </a>
                <a data-toggle="tooltip" data-original-title="Editar" (click)="openArea(contentArea, mat)"><i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(mat.ID)"><i class="fa fa-trash text-danger m-r-10"></i> </a>
                </div>
            </div>
   
            </div>
          </div>
          <div _ngcontent-mbv-c5="" class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
              <div _ngcontent-mbv-c5="" class="card" style="height: 150px;" (click)="openArea(contentArea)">
                <div _ngcontent-mbv-c5="" class="card-body text-center">
                    <div _ngcontent-mbv-c5="" class="row justify-content-center align-items-center" style="height: 100%;">
                        <div _ngcontent-mbv-c5="" class="col-12 text-center" >
                            <svg _ngcontent-mbv-c5="" class="bi bi-plus" fill="currentColor" height="66" style="font-weight: bolder; color: #7875ea;" viewBox="0 0 16 16" width="66" xmlns="http://www.w3.org/2000/svg">
                                <path _ngcontent-mbv-c5="" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- 
            <h6 class="card-subtitle"></h6><br>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>No</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Hora de Apertura</th>
                            <th>Hora de Cierre</th>
                            <th>Valor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let mat of areas | filter:filterName; let i=index ">
                            <th scope="row ">{{i+1}}</th>
                            <td>
                                <figure class="avatar avatar-sm">
                                    <img [src]="mat.imagen" class="" alt="image" width="25%">
                                </figure>
                            </td>
                            <td>{{mat.nombre}}</td>
                            <td>{{mat.hora_apertura}}</td>
                            <td>{{mat.hora_cierre}}</td>
                            <td>${{mat.precio}}</td>
                            <td>
                                <a data-toggle="tooltip" data-original-title="Editar"
                                    (click)="openArea(contentArea, mat)"> <i
                                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(mat.ID)"> <i
                                        class="fa fa-trash text-danger m-r-10"></i> </a>

                            </td>
                        </tr> -->
                        <!-- <tr *ngIf="(areas).length === 0">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                    existen datos</label></td>

                        </tr> -->
                    <!-- </tbody>
                </table>
            </div>
        </div>
    </div> -->


    <ng-template #contentArea let-modal>
        <div class="modal-header">
            <h4 *ngIf="!area.edit" class="modal-title" id="modal-basic-title">Crear Área Social</h4>
            <h4 *ngIf="area.edit" class="modal-title" id="modal-basic-title">Editar Área Social</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form (ngSubmit)="gestionArea()" #form="ngForm">
            <div class="modal-body">
                <!-- <div class="form-group">
                    <div class="image-preview mb-3" *ngIf="imagen">
                        <img class="img-fluid" [src]="imagen" height="500" />
                    </div>

                    <input type="file" name="image" (change)="preview($event)" />
                </div> -->


                <div class="form-group" *ngIf="imagenEdit">
                    <!-- editar imagen -->
                    <div class="contenedor" >
                        <div class="image-preview mb-2" *ngIf="imagenEdit">
                            <img  class="img-fluid" [src]="imagenEdit" height="60%" width="100%" />

                    </div>
                    </div>
                   
                    <label for="imagen">Imagen de Perfil</label>
                    <input type="file" name="image" (change)="saveEditPicture($event)" accept="image/*" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div>
              
                <div class="form-group" *ngIf="!imagenEdit">
                    <!-- ImagenCrear -->
                    <div class="image-preview mb-3" *ngIf="imagenPerfil">
                        <img class="img-fluid" [src]="imagenPerfil" height="60%" width="100%" />
                    </div>
                    <label for="imagen">Imagen de Perfil</label>
                    <input type="file" name="image" (change)="preview($event)" accept="image/*" required />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div>


              
                <div class="form-group">
                    <input [value]="nombre" [(ngModel)]="nombre" name="nombre" class="form-control" type="text" required
                        placeholder="Nombre del Area ">
                </div>

                <div class="form-group">
                  <label>Aforo</label>
                  <select name="aforo" [(ngModel)]="tipoAforo"
                      class="form-control custom-select">
                      <option selected hidden value="">
                          Seleccione Aforo
                        </option>
                      <option value="LIMITADO">  Limitado </option>
                      <option value="ILIMITADO"> Ilimitado </option>
                  </select>
              </div>
                
              <div class="form-group" *ngIf="tipoAforo ==='LIMITADO'  ">
                <label>Numero Permitido:</label>
                <input [value]="numeroAforo" [(ngModel)]="numeroAforo" name="numeroPermitido" class="form-control" type="text"
                    placeholder="">
            </div>

            
             

                <div class="form-group">
                  <label>Normas</label>
                  <textarea [(ngModel)]="normas"  class="form-control" name="normas" id="" cols="30" rows="2"></textarea>
                  </div>

              

                <div class="form-group">
                  <label>Tipo de Area:</label>
                  <select name="area" [(ngModel)]="tipoArea" class="form-control custom-select">
                      <option selected hidden value="">
                          Seleccione Area
                        </option>
                      <option value="PUBLICA">Abierta al Publico</option>
                      <option value="RESERVACIONES">Con Reservaciones</option>
                  </select>
              </div>

              <div class="div" *ngIf="tipoArea ==='RESERVACIONES'  ">

            
              <div class="form-group">
                <label>Tiempo de Reserva</label>
                <select name="tiempo_reservacion_minuto" [(ngModel)]="tiempo_reservacion_minutos"
                    class="form-control custom-select">
                    <option selected hidden value="">
                        Seleccione tiempo
                      </option>
                    <option value="60">1 hora</option>
                    <option value=120>2 horas</option>
                    <option value=180>3 horas</option>
                    <option value=240>4 horas</option>
                    <option value=300>5 horas</option>
                </select>
            </div>
            <div class="form-group">
              <label>Costo:</label>
              <select name="seleccionCosto" [(ngModel)]="seleccionCosto" class="form-control custom-select">
                  <option selected hidden value="">
                      Seleccione Costo
                    </option>
                  <option value="GRATIS">GRATIS</option>
                  <option value="PAGADO">PAGADO</option>
              </select>
          </div>

          <div class="form-group" *ngIf="seleccionCosto ==='PAGADO'  ">
              <label>Valor:</label>
              <input [value]="precio" [(ngModel)]="precio" name="precio" class="form-control" type="number"
                  placeholder="">
          </div>
          </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!area.edit">Guardar</span>
                    <span *ngIf="area.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </form>
    </ng-template>

    
    <ng-template #contentAreaReservas let-modal>
        <div class="modal-header">
            <h4  class="modal-title" id="modal-basic-title"> REGISTRO DE RESERVAS REALIZADAS </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            <div class="modal-body">
              
                <div class="card">
                    <div class="card-body">
                      <div class="row mt-0">
                        <div class="col-md-4 mb-2 ml-2">
                        
                        </div>
                      </div>
                      <div class="table table-responsive">
                        <table style="zoom: 0.82;" class="col-md-12">
                          <thead>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora Inicio</th>
                            <th scope="col">Hora  Fin</th>
                            <th style="padding-left: 20px;" scope="col">Tipo</th>
                            <th style="text-align:center" scope="col">Valor</th>
                            <th scope="col">Mz.</th>
                            <th scope="col">Villa</th>
                            <th [width]="80" scope="col">Reservado por:</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let div of reservas; let i = index">
                              <!-- <td>{{ i + 1 }}</td> -->
                              <td >{{ div.hora_inicio.split("T")[0] }}</td>
                              <td style="padding-left: 25px;">{{ div.hora_inicio.split("T")[1].split("-")[0]|slice:0:5 }} </td>
                              <td style="padding-left: 25px;">{{ div.hora_fin.split("T")[1].split("-")[0]|slice:0:5  }}</td>
                              <td  *ngIf="div.valor_cancelado!=0"> PAGADO </td>
                              <td  *ngIf="div.valor_cancelado==0"> GRATIS </td>
                              <td style="padding-left: 25px;">{{ div.valor_cancelado }}</td>
                              <td style="padding-left: 15px;" >{{ div.residente.casa.manzana}}</td>
                              <td  style="padding-left: 25px;">{{ div.residente.casa.villa}}</td>
                              <td [width]="80" >{{ div.residente.usuario.nombres}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

            </div>
            <div class="modal-footer">
                <!-- <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!area.edit">Guardar</span>
                    <span *ngIf="area.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i> -->
            </div>
    </ng-template>

    <ng-template #contentAreaInfo let-modal>
      <div class="modal-header">
          <h4  class="modal-title" id="modal-basic-title">  {{ informacionArea.nombre }} </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
          <div class="modal-body">
              <div class="card">
                  <div class="card-body">
                    <div class="row mt-0">
                      <!-- <div class="col-6">
                        <h3> Estado: </h3>
                      </div>
                      <div class="col-6">
                        <h3> {{informacionArea.estado}} </h3>
                      </div> -->
                      <div class="col-6">
                        <h3> TipoAforo: </h3>
                      </div>
                      <div class="col-6">
                        <h3> - </h3>
                      </div>
                      <div class="col-6">
                        <h3> Aforo: </h3>
                      </div>
                      <div class="col-6">
                        <h3> {{informacionArea.aforo}} </h3>
                      </div>
                      <div class="col-6">
                        <h3> Normas: </h3>
                      </div>
                      <div class="col-6">
                        <h3> {{informacionArea.normas}} </h3>
                      </div>
                      <div class="col-6">
                        <h3> Tipo de Area: </h3>
                      </div>
                      <div *ngIf="informacionArea.precio>0" class="col-6">
                        <h3> Con Reservacion </h3>
                      </div>
                      <div *ngIf="informacionArea.precio==0" class="col-6">
                        <h3> Abierta al publico </h3>
                      </div>
                      <div class="col-6">
                        <h3> Tiempo Reserva: </h3>
                      </div>
                      <div class="col-6">
                        <h3> {{informacionArea.tiempo_reservacion_minutos}} </h3>
                      </div>
                      <div class="col-6">
                        <h3> Costo: </h3>
                      </div>
                      <div class="col-6">
                        <h3> {{informacionArea.seleccionCosto}} </h3>
                      </div>
                      <div class="col-6">
                        <h3> Valor Reserva: </h3>
                      </div>
                      <div class="col-6">
                        <h3> {{informacionArea.precio}} </h3>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
          <div class="modal-footer">
              <!-- <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                  <span *ngIf="!area.edit">Guardar</span>
                  <span *ngIf="area.edit">Editar</span>
              </button>
              <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i> -->
          </div>
  </ng-template>

    <ng-template #contentAreaRecaudaciones let-modal>
      <div class="modal-header">
          <h4  class="modal-title" id="modal-basic-title"> REGISTRO DE RECAUDACIONES REALIZADAS </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
          <div class="modal-body">
            
              <div class="card">
                  <div class="card-body">
                    <div class="row mt-0 ">
                      <div class="col-md-5 col-12"> 
                        <div class="input-group" >
                          <label for="" class="mt-2 mr-2"> Fecha Inicio </label>
                          <input type="date" class="form-control" [(ngModel)]="fechaRecaudacionInicio" 
                            id="filterFechaBefore" />
                    </div>
                      </div>
                      <div class="col-md-5 col-12"> 
                        <div class="input-group" >
                          <label for="" class="mt-2 mr-2"> Fecha Fin </label>
                          <input type="date" class="form-control" [(ngModel)]="fechaRecaudacionFin" 
                            id="filterFechaBefore" />
                    </div>
                      </div>
                      <div class="col-md-2 col-12">
                        <button type="button" class="btn btn-info " (click)="gestionRecaudaciones($event.target.value)" >
                          Buscar
                        </button>
                      </div>
                    </div>
                    <div style="zoom: 0.82;" class="table table-responsive">
                      <table class="col-md-12">
                        <thead>
                          <!-- <th scope="col">#</th> -->
                          <th scope="col">Fecha</th>
                          <th scope="col">Hora Inicio</th>
                          <th scope="col">Hora  Fin</th>
                          <th style="padding-left: 20px;" scope="col">Tipo</th>
                          <th style="text-align:center" scope="col">Valor</th>
                          <th scope="col">Mz.</th>
                          <th scope="col">Villa</th>
                          <th [width]="80" scope="col">Reservado por:</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let div of reservasRecaudaciones; let i = index">
                            <!-- <td>{{ i + 1 }}</td> -->
                            <td >{{ div.hora_inicio.split("T")[0] }}</td>
                            <td style="padding-left: 25px;">{{ div.hora_inicio.split("T")[1].split("-")[0]|slice:0:5 }} </td>
                            <td style="padding-left: 25px;">{{ div.hora_fin.split("T")[1].split("-")[0]|slice:0:5  }}</td>
                            <td  *ngIf="div.valor_cancelado!=0"> PAGADO </td>
                            <td  *ngIf="div.valor_cancelado==0"> GRATIS </td>
                            <td style="padding-left: 25px;">{{ div.valor_cancelado }}</td>
                            <td  style="padding-left: 15px;">{{ div.residente.casa.manzana}}</td>
                            <td  style="padding-left: 25px;">{{ div.residente.casa.villa}}</td>
                            <td [width]="80" >{{ div.residente.usuario.nombres}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

          </div>
          <div class="modal-footer">
            <div class="col-md-12 text-right">
              <b style="font-weight: bold;font-size: 17px;">Valor Recaudado </b>  <span style="font-size: 18px;" class="label label-info">{{valorTotal|currency:'USD':'symbol':'1.2'}}</span>
            </div>
          </div>
  </ng-template>


    

    <ng-template #contentHorarios let-modal>
        <div class="modal-header">
            <h4  class="modal-title" id="modal-basic-title"> REGISTRO DE HORARIOS </h4>
            <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
            <div class="modal-body">
              
                <div class="card">
                    <div class="card-body">
                      <div class="row mt-0">
                        <div class="col-md-4 mb-2 ml-2">
                            <button type="button" class="btn btn-red btn-uppercase ml-1" (click)="open(modal, null)" >
                                Crear Horario
                              </button>
                        </div>
                      </div>
                      <div class="table table-responsive">
                        <table class="col-md-12">
                          <thead>
                            <th scope="col">#</th>
                            <th scope="col">Dia</th>
                            <th scope="col">Hora Apertura</th>
                            <th scope="col">Hora Cierre</th>
                            <th style="padding-left: 25px;" scope="col">Desde</th>
                            <th style="padding-left: 25px;" scope="col">Hasta</th>
                            <th scope="col">Opciones</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let div of horarios; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ div.dia }}</td>
                              <td style="padding-left: 30px;">{{ div.hora_inicio.split(":")[0].padStart(2,"0") + ":" + div.hora_inicio.split(":")[1].padEnd(2,"0")}}</td>
                              <td style="padding-left: 30px;">{{ div.hora_fin.split(":")[0].padStart(2,"0") + ":" + div.hora_inicio.split(":")[1].padEnd(2,"0")}}</td>
                              <td>{{ div.fecha_inicio.split("T")[0] }}</td>
                              <td>{{ div.fecha_fin.split("T")[0]}}</td>
                              <td>
                                <a data-toggle="tooltip" data-original-title="Editar" (click)="open(modal, div)"><i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar"  (click)="eliminarHorario(div.ID)" ><i class="fa fa-trash text-danger m-r-10"></i> </a>
                              </td> 
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

            </div>
            <div class="modal-footer">
                <!-- <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!area.edit">Guardar</span>
                    <span *ngIf="area.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i> -->

                

            </div>

            
            <ng-template #modal let-modal>
                <div class="animate__animated animate__fadeIn">
                  <div class="modal-header">
                    <h4 *ngIf="!item.edit" class="modal-title" id="modal-basic-title">
                      Crear nuevo horario
                    </h4>
                    <h4 *ngIf="item.edit" class="modal-title" id="modal-basic-title">
                      Editar horario
                    </h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form (ngSubmit)="gestionHorarios()" #form="ngForm">
                    <div class="modal-body">
                      <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <label>Dia</label>
                                <select name="tiempo_reservacion_minutos" [(ngModel)]="item.dia"
                                    class="form-control custom-select">
                                    <option value="Lunes"> Lunes</option>
                                    <option value="Martes">Martes</option>
                                    <option value="Miercoles">Miercoles</option>
                                    <option value="Jueves">Jueves</option>
                                    <option value="Viernes">Viernes</option>
                                    <option value="Sabado">Sabado</option>
                                    <option value="Domingo">Domingo</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="hora_inicio">Hora  Inicio</label>
                                <input id="hora_inicio" [value]="item.hora_inicio" [(ngModel)]="item.hora_inicio" name="hora_inicio"
                                  class="form-control" type="text" required />
                              </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-group">
                                <label for="hora_fin">Hora  Fin</label>
                                <input id="hora_fin" [value]="item.hora_fin" [(ngModel)]="item.hora_fin" name="hora_fin"
                                  class="form-control" type="text" required />
                              </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="fecha_inicio">Fecha Inicio</label>
                                <input id="fecha_inicio" [value]="item.fecha_inicio" [(ngModel)]="item.fecha_inicio" name="fecha_inicio"
                                  class="form-control" type="date" required />
                              </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="fecha_fin">Fecha Fin</label>
                                <input id="fecha_fin" [value]="item.fecha_fin" [(ngModel)]="item.fecha_fin" name="fecha_fin"
                                  class="form-control" type="date" required />
                              </div>
                        </div>
            
                        </div>
                      </div>
                   
                    <div class="modal-footer">
                      <button class="btn btn-red" type="submit" [disabled]="!form.valid">
                        <span *ngIf="auth.loading"><span class="spinner-border spinner-border-sm mr-2" role="status"
                            aria-hidden="true"></span>
                          Loading...
                        </span>
                        <span *ngIf="!auth.loading">Guardar</span>
                      </button>
                    </div>
                  </form>
                </div>
              </ng-template>



    </ng-template>

</div>



<ng-template #modal let-modal>
    <div class="animate__animated animate__fadeIn">
      <div class="modal-header">
        <h4 *ngIf="!item.edit" class="modal-title" id="modal-basic-title">
          Crear nuevo horario
        </h4>
        <h4 *ngIf="item.edit" class="modal-title" id="modal-basic-title">
          Editar horario
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="gestionHorarios()" #form="ngForm">
        <div class="modal-body">
          <div class="row">
              <div class="form-group">
                <label for="hora_inicio">Hora de Inicio</label>
                <input id="hora_inicio" [value]="item.hora_inicio" [(ngModel)]="item.hora_inicio" name="hora_inicio"
                  class="form-control" type="text" required />
              </div>

            </div>
          </div>
       
        <div class="modal-footer">
          <button class="btn btn-red" type="submit" [disabled]="!form.valid">
            <span *ngIf="auth.loading"><span class="spinner-border spinner-border-sm mr-2" role="status"
                aria-hidden="true"></span>
              Loading...
            </span>
            <span *ngIf="!auth.loading">Guardar</span>
          </button>
        </div>
      </form>
    </div>
  </ng-template>


