/* th,
td {
  padding: 10px;
  width: 50%;
  white-space:nowrap
} */

.transparente {
  color: white;
}

.separador {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5p;
}

.bordes {
  margin-left: 5px;
}

.pagado {
  background-color: rgba(75, 223, 17, 0.959);
}

.pendiente {
  background-color: rgba(223, 218, 210, 0.973);
}

.vencido {
  background-color: red;
}
