th,
td {
  padding: 10px;
  width: 50%;
  white-space: nowrap;
}
.transparente {
  color: white;
}

.encabezado {
  color: green;
}


.pregunta {
  font-style: italic;
  color: black;
}

.centrado {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
  height: 100px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 70px;
  /* border-radius: 100%; */
}

.separador {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}


.box img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .box img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}