<app-breadcrumb titulo="Mi voto" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de encuentas</h4>
            <button class="btn btn-dark" (click)="openEncuesta(contentEncuesta)">Crear encuenta</button>
            <div class="form-group col-md-4 m-t-20" style="display: inline-flex;float:right">
                <input type="text" class="form-control" name="filterName" placeholder="Buscar..."
                    [(ngModel)]="filterName">
            </div>
            <h6 class="card-subtitle"></h6>
            <!-- <div class="table-responsive m-t-40"> -->
            <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                <thead>
                    <tr style="text-align: center;">
                        <th class="w-5">No</th>
                        <th class="w-5">Imagen</th>
                        <th class="w-50">Pregunta</th>
                        <th class="w-10">Creación</th>
                        <th class="w-10">Finalización</th>
                        <th class="w-15">Votos</th>
                        <th class="w-5">Acciones</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr *ngFor="let ali of encuestas | votacion:filterName; let i=index ">
                        <th scope="row ">{{i+1}}</th>
                        <td>
                            <figure>
                                <img class="avatar" [src]="ali.imagenes[0]" alt="image" data-holder-rendered="true"
                                    (click)="openCarrusel(carrusel, ali)" data-toggle="modal"
                                    data-target=".bd-example-modal-lg" />
                            </figure>
                        </td>
                        <td style="width: 50px;">{{ali.pregunta}}</td>
                        <td>{{ali.CreatedAt | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ali.fecha_vencimiento | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ali.total_votos}}</td>
                        <td>
                            <a data-toggle="tooltip" data-original-title="Resultados"
                                (click)="openResultado(resultado, ali)"> <i
                                    class="fas fa-info-circle text-inverse m-r-10"></i> </a>
                            <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(ali.ID)"> <i
                                    class="fa fa-trash text-danger m-r-10"></i> </a>
                        </td>
                    </tr>
                    <tr *ngIf="(encuestas).length === 0">
                        <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                existen datos</label></td>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>
    <ng-template #contentEncuesta let-modal>
        <div class="modal-header">
            <h4 *ngIf="!encuesta.edit" class="modal-title" id="modal-basic-title">Crear Encuesta</h4>
            <!-- <h4 *ngIf="encuesta.edit" class="modal-title" id="modal-basic-title">Editar Encuesta</h4> -->
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form (ngSubmit)="gestionEncuesta()" #form="ngForm">
            <div class="modal-body">

                <div class="form-group">
                    <div class="image-preview mb-3" *ngIf="images?.length >0">
                        <img class="img-fluid" [src]="images[0]" height="100px" width="100px" />
                    </div>
                    <label for="imagen">Imagen de Encuesta</label>
                    <input type="file" name="imagen" (change)="onFileChange($event)" accept="image/*" multiple />
                    <small id="imagen" class="form-text text-muted">
                        El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div>

                <!-- <div class="form-group" *ngIf="imagenEdit">
                    <div class="contenedor">
                        <div class="image-preview mb-2" *ngIf="imagenEdit">
                            <img class="img-fluid" [src]="imagenEdit" height="60%" width="100%" />

                        </div>
                    </div>

                    <input type="file" name="image" (change)="saveEditPicture($event)" accept="image/*" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div>

                <div class="form-group" *ngIf="!imagenEdit">
                    <div class="image-preview mb-3" *ngIf="imagenPerfil">
                        <img class="img-fluid" [src]="imagenPerfil" height="100px" width="100px" />
                    </div>
                    <input type="file" name="image" (change)="preview($event)" accept="image/*" required />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div> -->

                <div class="form-group">
                    <textarea class="form-control" [(ngModel)]="encuesta.pregunta" name="pregunta" class="form-control"
                        type="text" required placeholder="Ingrese la pregunta" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label>Fecha de Finalización</label>
                    <dl-date-time-picker [(startView)]="startView" name="fecha_pago" startView="day" maxView="year"
                        minView="day" [(ngModel)]="encuesta.fecha_vencimiento" required
                        [selectFilter]="startDatePickerFilter"></dl-date-time-picker>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8" *ngFor="let opcion of encuesta.opciones ; let i=index ">
                        <label>Ingrese las opciones</label>
                        <input [(ngModel)]="opcion.opcion" name="opciones" class="form-control" type="text" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="transparente">.....</label>
                        <button class="btn btn-dark" type="button" (click)="anadirOpcion()">Añadir Opción</button>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer" *ngIf="!form.valid"> -->
            <div class="modal-footer" *ngIf="images?.length >0">
                <!-- array: {{images.length}} -->
                <!-- validacion correcta -->
                <button type="submit" [disabled]="!form.valid" class="btn btn-outline-dark">
                    <span *ngIf="!encuesta.edit">Guardar</span>
                    <span *ngIf="encuesta.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
            <div class="modal-footer" *ngIf="images?.length <1">
                <!-- array: {{images.length}} -->
                <!-- validacion incorrecta -->
                <button [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!encuesta.edit">Guardar</span>
                    <span *ngIf="encuesta.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </form>
    </ng-template>

    <ng-template #resultado let-modal>
        <div class="modal-header">
            <h4 class="modal-title encabezado" id="modal-basic-title">Resultado de la votación</h4>
        </div>
        <div class="modal-body">
            <strong class="pregunta">{{encuestaSeleccionada.pregunta}}</strong>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Opciónes</th>
                            <th>Votos totales</th>
                            <th>Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let item of encuestaSeleccionada['opciones']">
                            <!-- <th scope="row ">{{i+1}}</th> -->
                            <td>{{item.opcion}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.porcentaje * 100}}%</td>
                            <!-- <td>
                                <a data-toggle="tooltip" data-original-title="Resultados"
                                    (click)="openResultado(resultado, ali)"> <i
                                        class="fas fa-info-circle text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(ali.ID)"> <i
                                        class="fa fa-trash text-danger m-r-10"></i> </a>
                            </td> -->
                        </tr>
                        <!-- <tr *ngIf="(encuestas).length === 0">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                    existen datos</label></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>



    <ng-template #carrusel let-modal>
        <p-carousel [value]="carrusels" [numVisible]="1" [responsiveOptions]="responsiveOptions">
            <p-header>
                <h3>Imágenes</h3>
            </p-header>
            <ng-template let-car pTemplate="item">
                <div class="car-details">
                    <div class="p-grid p-nogutter">
                        <div class="p-col-12">
                            <figure class="box">
                               
                                <img [src]="car" />
                            </figure>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        <ng-template>