<app-breadcrumb titulo="Emprendimientos"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-3">
                    <label>Seleccione la categoría</label>
                    <select name="idCategoria" [(ngModel)]="idCategoria" class="form-control custom-select"
                        (change)="ObtenerEmprendimientos($event.target.value)">
                        <!-- <option value="todas" disabled>Size</option> -->
                        <option value="todas"> Todas</option>
                        <option *ngFor="let ur of categorias" value="{{ ur.ID }}">{{ur.nombre}}</option>
                    </select>
                </div>
            </div>
           

         

            <label>Lista de Emprendimientos</label>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngFor="let item of emprendimientos">
                    <div class="card" style="width: 100%; height: 180px; margin-bottom: 0;">
                        <!-- <figure class=""> -->
                        <img (click)="openEmprendimiento(contentEmprendimiento, item)" style=" height: 100%;
                            object-fit: cover;
                            object-position: center center;width: 100%;" [src]="item.imagen" alt="Error Horarios" />
                        <!-- </figure> -->
                    </div>
                    <p class="card-text centrartexto">{{item.titulo}}<br>
                    </p>
                    <p class="centrartexto separador"> {{item.CreatedAt | date:
                        'dd-MM-yyyy'}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <ng-template #contentEmprendimiento let-modal>

        <div class="modal-header" *ngIf="emprendimiento">
            <h5 class="modal-title" id="exampleModalScrollableTitle">{{emprendimiento.titulo}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
           <!-- <figure>
                <img class="avatar" [src]="ali.imagenes[0]" alt="image" data-holder-rendered="true"
                    (click)="openCarrusel(carrusel, ali)" data-toggle="modal"
                    data-target=".bd-example-modal-lg" />
            </figure> -->
        <div class="modal-body">
            <figure style="width: 446px; height: 334.5px; margin-bottom: 0;">
             
                 <img class="avatar" [src]="emprendimiento.imagen" alt="image" data-holder-rendered="true"
                 (click)="openCarrusel(carrusel,emprendimiento)" data-toggle="modal" style="height: 100%; width: 446px;"
                 data-target=".bd-example-modal-lg" />
            </figure>

           

            <label><strong>Descripción:</strong></label>
            <p>{{emprendimiento.descripcion}}</p>
            <div class="row">
                <div class="col-6">
                    <span class="badge badge-pill badge-info bad">Precio:$ {{emprendimiento.precio}}</span>
                </div>
                <div class="col-6">
                    <span class="badge badge-pill badge-info bad">Teléfono: {{emprendimiento.telefono}}</span>
                </div>
                <div class="col-6">
                    <span class="badge badge-pill badge-info bad">Usuario: {{emprendimiento.nombre_usuario}}</span>
                </div>
                <div class="col-6">
                    <span class="badge badge-pill badge-info bad">Fecha: {{emprendimiento.CreatedAt | date:
                        'dd/MM/yyyy'}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            <button (click)="deleteE(emprendimiento.ID)" type="button"
                class="btn btn-danger">Eliminar</button>
        </div>
    </ng-template>

    <ng-template #carrusel let-modal>
        <p-carousel [value]="carrusels" [numVisible]="1" [responsiveOptions]="responsiveOptions">
            <p-header>
                <h2>Galeria de Emprendimiento</h2>
            </p-header>
            <ng-template let-car pTemplate="item">
                <div class="car-details">
                    <div class="p-grid p-nogutter">
                        <div class="p-col-12">
                            <figure class="box">
                                <img width="100%" height="500" [src]="car" />
                            </figure>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        <ng-template>