.box img {
  /* width: 100%; */
  /* height: auto; */
}
@supports (object-fit: cover) {
  .box img {
    /* height: 100%; */
    object-fit: cover;
    object-position: center center;
  }
}
.encabezado {
  color: green;
}
.bad {
  font-size: 15px;
}
.centrartexto {
  text-align: center;
  /* font-family: cursive; */
  font-size: 13.5px;
  padding: 0;
  /* margin-left: 0;
  margin-right: 0; */
  margin-bottom: 0;
  margin-top: 2px;
}
.separador {
  margin-bottom: 20px;
}
.listEmprendimientos {
  font-family: serif;
  font-size: larger;
  font-weight: bold;
}
.resp {
  width: 200px;
  height: 200px;
  margin-left: 0.5px;
  margin-right: 0.5px;
  border: 1px;
}
