<app-breadcrumb titulo="Registro de ingresos y salidas" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Registros</h4>
            <div style="float:right" *ngIf="!buscadorVilla">
                <label>Buscar</label>
                <input type="date" class="form-control" name="fechaDate" [ngModel]="buscadorFechaglobal"
                    (change)="buscadorfechaGlobal($event.target.value)">
            </div>

            <div class="form-row align-items-center">
                <div class="form-group col-sm-2 my-1">
                    <label>Manzana</label>
                    <select name="manzana" [(ngModel)]="buscadorManazana" class="form-control custom-select"
                        (change)="getVillas($event.target.value)">
                        <option *ngFor="let ur of manzanaselector" value="{{ur.manzana}}">{{ur.manzana}}</option>
                    </select>
                </div>

                <div class="form-group col-sm-2 my-1" *ngIf="buscadorManazana">
                    <label>Villa</label>
                    <select name="villa" [(ngModel)]="buscadorVilla" class="form-control custom-select"
                        (change)="getFecha($event.target.value)">
                        <option *ngFor="let ur of casasselector" value="{{ur.villa}}">{{ur.villa}}</option>
                    </select>
                </div>

                <div class="form-group col-sm-2 my-1" *ngIf="buscadorVilla">
                    <label>Fecha</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" [ngModel]="buscadorFecha"
                        (change)="filterfecha($event.target.value)">
                </div>

                <div class="form-group col-sm-1 my-1">
                    <label class="transparente">dd.</label><br>
                    <button (click)="restablecerFiltroBusqueda()" type="button" class="btn btn-success"
                        data-toggle="tooltip" data-placement="right" title="Restablecer filtro"><i
                            class="fas fa-sync-alt"></i></button>
                </div>
            </div>

            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>No</th>
                            <th>Imagen</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula</th>
                            <th>Asunto</th>
                            <th>Manzana</th>
                            <th>Villa</th>
                            <th>Fecha Ingreso</th>
                            <th>Hora Ingreso</th>
                            <th>Medio de ingreso</th>
                            <th>Placa Ingreso</th>
                            <th>Fecha Salida</th>
                            <th>Hora Salida</th>
                            <th>Medio de salida</th>
                            <th>Placa Salida</th>
                            <th>Guardia</th>
                            <th>Estado</th>
                            <th>Por:</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let visit of bitacoras | filter:filterName ; let i=index ">
                            <!-- <th>Villa</th>
                            <th>Fecha Ingreso</th>
                            <th>Hora Ingreso</th>
                            <th>Medio</th>
                            <th>Placa</th>
                            <th>Fecha Salida</th>
                            <th>Hora Salida</th>
                            <th>Medio</th>
                            <th>Placa</th> -->
                            <th scope="row ">{{i+1}}</th>
                            <td>
                                <figure>
                                    <img class="avatar" [src]="visit.imagen" alt="image" data-holder-rendered="true"
                                        (click)="openImage(visit)" data-toggle="modal"
                                        data-target=".bd-example-modal-lg" />
                                </figure>
                            </td>

                            <td>{{visit.nombres}}</td>
                            <td>{{visit.apellidos}}</td>
                            <td>{{visit.cedula}}</td>
                            <td>{{visit.motivo}}</td>
                            <td>{{visit.casa.manzana}}</td>
                            <td>{{visit.casa.villa}}</td>
                            <!-- <td>{{visit.entrada.hora_entrada | date: 'dd/MM/yyyy' }}</td>
                                <td>{{visit.entrada.hora_entrada | date: 'h:mm a' }}</td>
                                <td>{{visit.entrada.tipo_entrada}}</td>
                                <td>{{visit.entrada.placa}}</td>
                                <td *ngIf="visit.salida.hora_salida">{{visit.salida.hora_salida | date: 'dd/MM/yyyy'}}
                                </td>
                                <td *ngIf="!visit.salida.hora_salida">No hay registro</td>
                                <td>{{visit.salida.hora_salida | date: 'h:mm a'}}</td>
                                <td>{{visit.salida.tipo_salida}}</td>
                                <td>{{visit.salida.placa}}</td> -->
                            <td>{{visit.guardia.nombres}}</td>
                            <td *ngIf="visit.Estado === 'ACEPTADA'">
                                <Div class="aceptada">
                                    <strong> {{visit.Estado}}</strong>
                                </Div>
                            </td>
                            <td *ngIf="visit.Estado === 'ESPERANDO'">
                                <Div class="esperando">
                                    <strong> {{visit.Estado}}</strong>
                                </Div>
                            </td>
                            <td *ngIf="visit.Estado === 'RECHAZADA'">
                                <Div class="rechazada">
                                    <strong> {{visit.Estado}}</strong>
                                </Div>
                            </td>
                            <td *ngIf="visit.Estado === 'PENDIENTE'">
                                <Div class="pendiente">
                                    <strong> {{visit.Estado}}</strong>
                                </Div>
                            </td>
                            <td *ngIf="visit.Estado === 'SIN RESPUESTA'">
                                <Div class="rechazada">
                                    <strong> {{visit.Estado}}</strong>
                                </Div>
                            </td>
                            <td *ngIf="visit.contestador">{{visit.contestador.nombres}}</td>
                        </tr>
                        <tr *ngIf="(bitacoras).length === 0">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                    existen datos</label></td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- <ng-template #contentImage let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                    Imagen de Registro Ingreso
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" *ngIf="imagenPerfil">
                <figure class="box">
                    <img [src]="imagenPerfil.imagen" alt="image" />
                </figure>
            </div>

        </ng-template> -->
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                        Imagen de Registro Ingreso
                    </h4>
                </div>

                <div class="modal-body" *ngIf="imagenPerfil">
                    <figure class="box">
                        <img [src]="imagenPerfil.imagen" alt="image" />
                    </figure>
                </div>
            </div>
        </div>
    </div>