<app-breadcrumb titulo="Usuarios" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Usuarios</h4>
            <button class="btn btn-dark" (click)="openResidente(contentResidente)">Crear Usuario</button>
            <div class="form-group col-md-4 m-t-20" style="display: inline-flex;float:right">
                <input type="text" class="form-control" name="filterName" placeholder="Buscar por nombre..."
                    [(ngModel)]="filterName">
            </div>

            <div class="form-row align-items-center">
                <div class="form-group col-sm-2 my-1">
                    <label>Manzana</label>
                    <select name="manzana" [(ngModel)]="filtroMz" class="form-control custom-select"
                        (change)="getFiltroMz($event.target.value)">
                        <option value="todas" hidden>Todas</option>
                        <option value="todas"> Todas</option>
                        <option *ngFor="let ur of manzanaselector" value="{{ur.manzana}}">{{ur.manzana}}</option>
                    </select>
                    <!-- fm: {{filtroMz }} -->
                </div>
                <!-- fm: {{filtroMz}} -->
                <div class="form-group col-sm-2 my-1">
                    <label>Villa</label>
                    <select [disabled]="filtroMz ==='todas' || !filtroMz" name="villa" [(ngModel)]="fitroVilla"
                        class="form-control custom-select" (change)="getFiltroVilla($event.target.value)">
                        <option value="todas" hidden>Todas</option>
                        <option value="todas">Todas</option>
                        <option *ngFor="let ur of casasselector" value="{{ur.villa}}">{{ur.villa}}</option>
                    </select>
                    <!-- fv: {{fitroVilla}} -->
                </div>

                <div class="form-group col-sm-3 my-1">
                    <label>Tipo de usuario</label>
                    <select [disabled]="fitroVilla === 'todas'" name="estado" [(ngModel)]="filtroTipo"
                        class="form-control custom-select" (change)="getfilterTipo($event.target.value)">
                        <option value="todas" hidden>Todas</option>
                        <option value="todas">Todas</option>
                        <option value="PRINCIPAL">Principal</option>
                        <option value="SECUNDARIO">Secundario</option>
                    </select>
                    <!-- ft: {{filtroTipo}} -->
                </div>
                <div class="form-group col-sm-1 my-1">
                    <label class="transparente">dd.</label><br>
                    <button (click)="restablecerFiltroBusqueda()" type="button" class="btn btn-success"
                        data-toggle="tooltip" data-placement="right" title="Restablecer filtro"><i
                            class="fas fa-sync-alt"></i></button>
                </div>
            </div>

            <h6 class="card-subtitle"></h6>
            <div class="table-responsive m-t-40">
                <table style="zoom: 0.96;" id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>No</th>
                            <th>Imagen</th>
                            <th>Manzana</th>
                            <th>Villa</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula</th>
                            <th>Usuario</th>
                            <th>Tipo</th>
                            <th>Correo</th>
                            <th>Celular</th>
                            <th>Convencional </th>
                            <th>Votación</th>
                            <th>Fecha de nacimiento</th>
                            <th>Pdf</th>
                            <th>Autorizaciones</th>
                            <!-- <th>Fijo</th> -->
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let et of residentes | filter:filterName; let i=index ">
                            <td>{{i+1}}</td>

                            <td>
                                <figure>
                                    <img class="avatar" [src]="et.usuario.imagen" data-holder-rendered="true"
                                        alt="image" (click)="openImage(contentImage, et)" />
                                </figure>
                            </td>

                            <td>{{et.casa.manzana}}</td>
                            <td>{{et.casa.villa}}</td>
                            <td>{{et.usuario.nombres}}</td>
                            <td>{{et.usuario.apellido}}</td>
                            <td>{{et.cedula}}</td>
                            <td>{{et.usuario.usuario}}</td>
                            <td>{{et.tipo_usuario | titlecase}}</td>
                            <td>{{et.usuario.correo}}</td>
                            <td>{{et.usuario.celular}}</td>
                            <td>{{et.usuario.telefono}}</td>
                            <td *ngIf="et.is_principal == true">Si</td>
                            <td *ngIf="et.is_principal == false">No</td>
                            <td *ngIf="et.fecha_nacimiento ==='Fecha inválida'">F inválida</td>
                            <td *ngIf="et.fecha_nacimiento !=='Fecha inválida' ">{{et.fecha_nacimiento | date:
                                'dd-MM-yyyy'}}</td>
                            <!-- <td>{{et.fecha_nacimiento}}</td> -->
                            <td>
                                <a *ngIf="et.documento" (click)="goToLink(et.documento)"
                                    href="javascript:void(0)">Visualizar</a>
                                <figure *ngIf="!et.documento">
                                    <img class="adjunto" src="../assets/images/adjunto.png" data-holder-rendered="true"
                                        alt="image" />
                                </figure>
                            </td>
                            <td *ngIf="et.autorizacion == true">Si</td>
                            <td *ngIf="et.autorizacion == false">No</td> <!-- <td></td> -->
                            <td>
                                <!-- <a data-toggle="tooltip" data-original-title="pdf"> <i
                                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(et.ID)"> <i
                                        class="fa fa-trash text-danger m-r-10"></i> </a> -->
                                <a data-toggle="tooltip" data-original-title="Editar"
                                    (click)="openResidente(contentResidente, et)"> <i
                                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(et.ID)"> <i
                                        class="fa fa-trash text-danger m-r-10"></i> </a>
                            </td>
                        </tr>
                        <tr *ngIf="residentes?.length < 1">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                    existen datos</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <ng-template #contentResidente let-modal>
        <div class="modal-header">
            <h4 *ngIf="!residente.edit" class="modal-title" id="modal-basic-title">Crear Usuario</h4>
            <h4 *ngIf="residente.edit" class="modal-title" id="modal-basic-title">Editar Usuario</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>



        <form (ngSubmit)="gestionResidente()" #form="ngForm">
            <div class="modal-body" style="height: 600px; overflow-y: scroll;">
                <div *ngIf=" !residente.edit">
                    <div class="form-group">
                        <input [value]="nombres" [(ngModel)]="nombres" name="nombres" class="form-control" type="text"
                            required placeholder="Nombres">
                    </div>
                    <div class="form-group">
                        <input [value]="apellido" [(ngModel)]="apellido" name="apellido" class="form-control"
                            type="text" required placeholder="Apellidos">
                    </div>
                    <div class="form-group">
                        <input [value]="cedula" [(ngModel)]="cedula" name="cedula" class="form-control" type="text"
                            required placeholder="Cédula">
                    </div>
                    <div class="form-group">
                        <input [value]="usuario" [(ngModel)]="usuario" name="usuario" class="form-control" type="text"
                            required placeholder="Usuario">
                    </div>

                    <div class="form-group">
                        <input [value]="correo" [(ngModel)]="correo" name="correo" class="form-control" type="text"
                            required placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <input [value]="celular" [(ngModel)]="celular" name="celular" class="form-control" type="text"
                            required placeholder="Celular">
                    </div>
                    <div class="form-group">
                        <input [value]="telefono" [(ngModel)]="telefono" name="telefono" class="form-control"
                            type="text" required placeholder="Convencional">
                    </div>

                    <div class="form-group">
                        <label>Manzana</label>
                        <select name="manzana" [(ngModel)]="manzana" class="form-control custom-select"
                            (change)="getVillas($event.target.value)" required>
                            <option *ngFor="let ur of manzanaselector" value="{{ur.manzana}}">{{ur.manzana}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <!-- idcasa: {{villa}} -->
                        <label>Villa</label>
                        <select (change)="filtroTipoUsuario($event.target.value)" name="id_villa" [(ngModel)]="villa"
                            class="form-control custom-select" required>
                            <option *ngFor="let ur of casasselector" value="{{ur.ID}}">{{ur.villa}}</option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="validacion">
                        <label>Tipo de Usuario:</label>
                        <input [value]="tipoUsuario" [(ngModel)]="tipoUsuario" name="tipoUsuario" class="form-control"
                            type="text" placeholder="Secundario" readonly>
                    </div>

                    <div class="form-group" *ngIf="!validacion && manzana">
                        <label>Tipo de Usuario:</label>
                        <select name="tipo_usuario" [(ngModel)]="tipoUsuario" class="form-control custom-select">
                            <option value="PRINCIPAL">Principal</option>
                            <option value="SECUNDARIO">Secundario</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="tipoUsuario ==='PRINCIPAL'">
                        <label>¿Este usuario podrá responder encuestas?</label>
                        <input name="principal" class="form-control" type="text" placeholder="Si">
                    </div>

                    <div class="form-group" *ngIf="tipoUsuario !='PRINCIPAL'">
                        <label>¿Este usuario podrá responder encuestas?</label>
                        <input name="principals" class="form-control" type="text" placeholder="No" readonly>
                    </div>
                    <div class="form-group" *ngIf="tipoUsuario ==='PRINCIPAL'">
                        <label>¿Este usuario podrá crear autorizaciones?</label>
                        <input name="autorizacion" class="form-control" type="text" placeholder="Si" readonly>
                    </div>

                    <div class="form-group" *ngIf="tipoUsuario !=='PRINCIPAL'">
                        <label>¿Este usuario podrá crear autorizaciones?</label>
                        <select required name="autorizacion" [(ngModel)]="autorizacion"
                            class="form-control custom-select" required>
                            <option [ngValue]="true">Si</option>
                            <option [ngValue]="false">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        <br>
                        <p-calendar required [(ngModel)]="fechanacimiento" dateFormat="dd-mm-yy" [showIcon]="true"
                            [maxDate]="fechaMaxima" [locale]="es" [monthNavigator]="true" [yearNavigator]="true"
                            yearRange="1940:2021" [ngModelOptions]="{standalone: true}" required></p-calendar>
                    </div>

                    <div class="form-group">
                        <label>Pdf cédula</label>
                        <input [value]="documento" (change)="PDF($event)" [(ngModel)]="documento" name="documento"
                            class="form-control" type="file" accept="application/pdf">
                    </div>

                </div>

                <div *ngIf="residente.edit">

                    <div class="form-group">
                        <input [value]="nombres" [(ngModel)]="nombres" name="nombres" class="form-control" type="text"
                            required placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input [value]="apellido" [(ngModel)]="apellido" name="apellido" class="form-control"
                            type="text" required placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <input [value]="cedula" [(ngModel)]="cedula" name="cedula" class="form-control" type="text"
                            required placeholder="Cédula">
                    </div>
                    <div class="form-group">
                        <input [value]="usuario" [(ngModel)]="usuario" name="usuario" class="form-control" type="text"
                            required placeholder="Usuario">
                    </div>



                    <div class="form-group">
                        <input [value]="correo" [(ngModel)]="correo" name="correo" class="form-control" type="text"
                            required placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <input [value]="celular" [(ngModel)]="celular" name="celular" class="form-control" type="text"
                            required placeholder="Celular">
                    </div>
                    <div class="form-group">
                        <input [value]="telefono" [(ngModel)]="telefono" name="telefono" class="form-control"
                            type="text" required placeholder="Convencional">
                    </div>

                    <div class="form-group">
                        <label>Manzana</label>
                        <input [value]=" manzana" [(ngModel)]="manzana" name="manzana" class="form-control" type="text"
                            required>
                    </div>

                    <div class="form-group">
                        <label>Villa</label>
                        <input [value]=" villa" [(ngModel)]="villa" name="villa" class="form-control" type="text"
                            required>
                    </div>

                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        <input [value]="fechanacimiento" [ngModel]="fechanacimiento |date:  'yyyy-MM-dd'" name="otra"
                            class="form-control" type="date" required>
                        <br>
                    </div>

                    <div class="form-group">
                        <label>¿Este usuario podrá responder encuestas?</label>
                        <select name="is_principal" [(ngModel)]="is_principal" class="form-control custom-select">
                            <option [ngValue]="true">Si</option>
                            <option [ngValue]="false">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>¿Este usuario podrá crear autorizaciones?</label>
                        <select name="autorizacion" [(ngModel)]="autorizacion" class="form-control custom-select">
                            <option [ngValue]="true">Si</option>
                            <option [ngValue]="false">No</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!residente.edit">Guardar</span>
                    <span *ngIf="residente.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </form>

    </ng-template>

    <ng-template #contentImage let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Imagen de Perfil</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="imagenPerfil">
            <figure class="box">
                <img [src]="imagenPerfil.usuario.imagen" alt="image" />
            </figure>
        </div>
    </ng-template>

</div>
<script type="text/javascript">
    function showContent() {
        element = document.getElementById("content");
        check = document.getElementById("check");
        if (check.checked) {
            element.style.display = 'block';
        }
        else {
            element.style.display = 'none';
        }
    }
</script>