<app-breadcrumb titulo="Autorizaciones Temporales y Fijas" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Registro de Autorizaciones</h4>

            <div class="form-row align-items-center">
                <!-----filtro manzana-->
                <div class="form-group col-1 my-1">
                    <label>Manzana</label>
                    <select name="manzana" [(ngModel)]="filtroManzana" class="form-control custom-select"
                        (change)="getVillas($event.target.value)">
                        <option value="0" hidden>Todas</option>
                        <option *ngFor="let ur of manzanaselector" value="{{ ur.manzana }}">{{ur.manzana}}</option>
                    </select>
                </div>
                <!-----filtro villa-->
                <div class="form-group col-1 my-1">
                    <label>Villa</label>
                    <select [disabled]="!filtroManzana" name="villa" [(ngModel)]="filtrovilla"
                        class="form-control custom-select" (change)="filtrarAutorizacion($event.target.value)">
                        <option value="0" hidden>Todas</option>
                        <option *ngFor="let ur of casasselector" [ngValue]="ur.ID">{{ur.villa}}</option>
                    </select>
                </div>
                <!-----filtro Autorizacion-->
                <div class="form-group col-sm-2 my-1">
                    <label>Tipo de Autorización</label>
                    <select [disabled]="!filtrovilla" (change)="getEstado($event.target.value)" name="autorizacion"
                        [(ngModel)]="filtroAutorizacion" class="form-control custom-select">
                        <option value="">Todas</option>
                        <option value="TEMPORAL">Temporales</option>
                        <option value="FIJA">Fijas</option>
                    </select>
                </div>
                <!-----filtro tipo-->

                <div class="form-group col-sm-2 my-1" *ngIf="filtrovilla!=0 && filtroAutorizacion==='FIJA'">
                    <label>Tipo de Usuario</label>
                    <select [disabled]="!(filtrovilla==0 || filtroAutorizacion==='FIJA')"
                        (change)=" getEstado($event.target.value)" name="autorizacion"
                        [(ngModel)]="tipoAutorizacionFija" class="form-control custom-select">
                        <option value="">Todas</option>
                        <option value="Residente">Residente</option>
                        <option value="Familiar">Familiar</option>
                        <option value="Empleado">Empleado</option>
                        <option value="Expreso">Expreso escolar</option>
                    </select>
                </div>

                <!-----filtro estado-->
                <div class="form-group col-sm-2 my-1" *ngIf="filtroAutorizacion">
                    <label>Estado</label>
                    <select [disabled]="filtrovilla==0" (change)="getEstado($event.target.value)" name="estado"
                        [(ngModel)]="filtroEstado" class="form-control custom-select">
                        <option value="">Todas</option>
                        <option [value]="estado.value" *ngFor="let estado of estados">{{estado.texto}}</option>
                    </select>
                </div>


                <div class="form-group col-sm-1 my-1" *ngIf="filtroManzana!=0 && filtrovilla!=0">
                    <label class="transparente"></label><br>
                    <button (click)="restablecerFiltroBusqueda()" type="button" class="btn btn-success"
                        data-toggle="tooltip" data-placement="right" title="Restablecer filtro"><i
                            class="fas fa-sync-alt"></i></button>
                </div>
            </div>
            <br>
            <!-----Tabla Principal-->
            <h6 class="card-subtitle"></h6>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>No</th>
                            <th>Manzana</th>
                            <th>Villa</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Autorización</th>
                            <th>Tipo de usuario</th>
                            <th>Asunto</th>
                            <th>Teléfono</th>
                            <th>Creada</th>
                            <th>Hora</th>
                            <th>Estado</th>
                            <th>Creada por:</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngIf="autorizaciones.length<1">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                    existen datos</label></td>
                        </tr>
                        <tr *ngFor="let au of autorizaciones | filter:filterName; let i=index ">
                            <td>{{i+1}}</td>
                            <td>{{au.casa.manzana}}</td>
                            <td>{{au.casa.villa}}</td>
                            <td>{{au.nombres}}</td>
                            <td>{{au.apellidos}}</td>
                            <td>{{au.tipo}}</td>
                            <td *ngIf="au.tipo_usuario === 'Expreso'">Expreso escolar</td>
                            <td *ngIf="au.tipo_usuario !== 'Expreso'">{{au.tipo_usuario}}</td>
                            <!-- <td>{{au.tipo}}</td> -->
                            <td>{{au.asunto}}</td>
                            <td>{{au.telefono}}</td>
                            <td>{{au.CreatedAt | date: 'dd-MM-yyyy'}} </td>
                            <td>{{au.CreatedAt | date:'mediumTime'}}</td>
                            <td>{{au.estado}}</td>
                            <td>{{au.publicador.usuario}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>