<a class="btn btn-success show-left-part d-block d-md-none ti-close" href="javascript:void(0)"
    (click)="mobileSidebar()"></a>
<div class="main-part" style="height: calc(100vh - 154px);">
    <div class="left-part bg-white fixed-left-part" [ngClass]="{'show-panel': showSidebar}">
        <div class="position-relative" style="height:100%;">
            <div
                class="p-l-15 p-r-25 py-3 d-flex align-items-center mt-1 border-bottom text-center row justify-content-center">

                <button type="button" class="btn   ml-4 mr-4" style="background-color:#7875ea ; color: white;"
                    (click)='openModal(content)'> Nuevo Mensaje
                </button>
            </div>

            <ul class="mailbox list-style-none">
                <li>
                    <div class="message-center" style="height: calc(100vh - 340px); ">

                        <div *ngFor="let mail of mailboxes">
                            <a class="message-item border-0 d-flex align-items-center py-3"
                                [ngStyle]="{'background-color':ms.type==mail.name? '#f2f4f8' : 'white' }"
                                (click)='mailboxesChanged(mail.name)'>
                                <span>
                                    <i [class]="mail.icon"></i>
                                </span>
                                <h5 class="ml-3 mb-0">{{mail.name}}</h5>
                                <div class="ml-auto">
                                    <span *ngIf='mail.name==="Recibidos" && ms.inboxCount>0'
                                        class="badge badge-pill font-medium px-3 d-flex align-items-center"
                                        style="background-color:#7875ea ; color: white;">{{ms.inboxCount}}</span>


                                </div>
                            </a>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-part" style=" overflow-y: hidden !important;">
        <div class="card mb-0" style=" overflow-y: hidden !important;">
            <div class="row no-gutters" style=" overflow-y: hidden !important;">
                <div class="col-lg-6 col-md-12 col-xl-4 border-right">
                    <div class="position-relative" style="height:100%;">


                        <div class="position-relative" style="height: calc(100vh - 100px); overflow-y: scroll;">
                            <div *ngIf="!loading">
                                <div *ngFor="let mail of ms.mailList ; let i = index" (click)="mailSelected(mail)">
                                    <div class="p-3 border-bottom">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="d-flex align-items-start">

                                                    <div class="ml-3">
                                                        <div class="d-flex align-items-center" *ngIf="mail.is_admin">
                                                            <h5 class="mb-0">De: Administración</h5>

                                                        </div>
                                                        <div class="d-flex align-items-center" *ngIf="!mail.is_admin">
                                                            <h5 class="mb-0">{{mail.publicador.nombres}}</h5>

                                                        </div>

                                                        <p class="text-muted"> {{mail.titulo | slice:0:25}}.. </p>
                                                    </div>

                                                </div>

                                                <p class="mb-0">
                                                    <span class="font-medium" *ngIf='!mail.leido'>
                                                        {{mail.descripcion | slice:0:40}}.. </span>
                                                    <span *ngIf='mail.leido'> {{mail.descripcion | slice:0:40}}..
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="col-2">
                                                <div class="row justify-content-end align-items-end"
                                                    style="height: 100%;">
                                                    <button *ngIf='!mail.leido' class="btn btn-sm btn-dark mr-2 mb-4"
                                                        style="cursor: none;">Nuevo</button>
                                                    <div class="col-12">
                                                        <div class="text-right">
                                                            <span
                                                                class="text-muted d-block">{{(mail.CreatedAt.split('T')[0]
                                                                |
                                                                date:'dd MMMM')| slice:0:6}}.</span>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="col-lg-6 col-md-12 col-xl-8 detail-part" [class.movetodetail]='ms.addClass'>
                    <div *ngIf='ms.selectedMail ===null' class="h-100 d-none d-lg-block">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="text-center">
                                <i class="far fa-envelope display-5"></i>
                                <h3> Seleccione para leer. </h3>
                            </div>
                        </div>

                    </div>

                    <div *ngIf='ms.selectedMail !=null'>
                        <div class="position-relative" style="height: calc(100vh - 180px); overflow-y: scroll;">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>

    <div class="modal-header " style="background-color:#7875ea ;">

        <h4 class="modal-title text-white ">Nuevo mensaje</h4>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>

    </div>


    <div class="modal-body">

        <form action="">

            <div class="row">
                <div class="col-md-1">
                    <label for="toEmail">Para</label>

                </div>
                <div class="col-md-3 text-left">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [(ngModel)]="correo.publico" name="publico">
                        <label class="form-check-label" for="flexCheckDefault">
                            Toda la etapa?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!correo.publico">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Manzana</label>
                        <select [disabled]="correo.publico" name="manzana" [(ngModel)]="manzana"
                            class="form-control custom-select" (change)="getVillas($event.target.value)">
                            <option *ngFor="let ur of manzanaselector" value="{{ur.manzana}}">{{ur.manzana}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Villa</label>
                        <select [disabled]="correo.publico || !manzana" name="id_casa" [(ngModel)]="id_casa"
                            class="form-control custom-select">
                            <option *ngFor="let ur of casasselector" [ngValue]="ur.ID">{{ur.villa}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="subject">Asunto</label>
                <input type="text" class="form-control" id="subject" name="subject" [(ngModel)]="correo.titulo">
            </div>

            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" placeholder="Ingrese texto aqui..."
                    [(ngModel)]="correo.descripcion" name="mensaje"></textarea>
            </div>
            <div style="height: 100px;">
                <div class="row ">

                    <div class="col-md-2 text-center" *ngFor="let archivo of correo.adjuntos">
                        <img src="assets/images/clip.png" style="height: 50px;" alt=""> <br>
                        <span style="font-size: 12px;"> {{archivo}} </span>
                    </div>
                </div>
            </div>
            <form #form="ngForm">
                <div class="d-flex align-items-center justify-content-between py-2 px-3 bg-light">
                    <div>
                        <a href="javascript:void(0)" (click)="fileInput.click()" class="link"><i
                                class="icon-link font-16"></i></a>

                    </div>
                    <input type="file" id="files" name="archivos" multiple style="display: none" accept="*/*"
                        (change)="preview($event)" #fileInput>

                    <div>
                        <button (click)="descartar()" type="button" class="btn btn-danger ml-3"><i
                                class="fas fa-trash mr-1"></i>Descartar</button>

                        <button class="btn btn-secondary ml-3" (click)="enviarCorreo(form)">Enviar</button>
                    </div>
                </div>
            </form>



        </form>

    </div>

</ng-template>