.main-part{
  display:flex;
  height: calc(100vh - 175px);
  align-items: strech;
}
  $left-part-width: 260px;
  $border-color: rgba(120, 130, 140, 0.13) !default;

.left-part {
  width: $left-part-width;
  border-right: 1px solid $border-color;
  flex-shrink:0;
  .show-left-part {
    position: absolute;
    top: 25%;
    right: -41px;
  }
}

.right-part {
  width: 100%;
  overflow: auto;
  .dropdown-toggle::after {
    display: none;
  }
}
.desactivado{
  cursor: none;
  opacity: 0.5;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media (max-width: 767px) {
  .left-part {
    left: -260px;
    z-index: 1;
    position:absolute;
    height:calc(100vh - 175px);
    transition: 0.1s ease-in;
    &.show-panel {
      left: 0px;
    }
  }
  
}
@media (max-width: 766px) {
  .hide-panel{
    display: none;
  }
  .left-part {
    left: - $left-part-width;
    z-index: 1;
    position:absolute;
    height:calc(100vh - 175px);
    transition: 0.1s ease-in;
    &.show-panel {
      left: 0px;
    }
}
.right-part {
  width: 100%;
  margin-left: 0px;
}
}
