<app-breadcrumb titulo="Galería" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Imágenes</h4>
            <button class="btn btn-dark" (click)="openGaleria(contentGaleria)">Subir imagen</button>
            <div class="form-group col-md-4 m-t-20" style="display: inline-flex;float:right">
                <input type="text" class="form-control" name="filterName" placeholder="Buscar por nombres..."
                 [(ngModel)]="filterName">
            </div>
            <h6 class="card-subtitle"></h6>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>No</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let mat of imagenes | filter:filterName; let i=index ">
                            <th scope="row ">{{i+1}}</th>
                            <td>
                              <figure class="avatar avatar-sm">
                                <img [src]="mat.imagen" class="" alt="image" width="25%">
                            </figure>
                            </td>
                            <td>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(mat.ID)"> <i class="fa fa-trash text-danger m-r-10"></i> </a>

                            </td>
                        </tr>

                        <tr *ngIf="(imagenes).length === 0">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No existen datos</label></td>
                            
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #contentGaleria let-modal>
        <div class="modal-header">
            <h4 *ngIf="!galeria.edit" class="modal-title" id="modal-basic-title">Subir nueva imagen</h4>
            <h4 *ngIf="galeria.edit" class="modal-title" id="modal-basic-title">Editar imagen</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="gestionGaleria()" #form="ngForm">
            <div class="modal-body">
              <div class="form-group">
                <div class="image-preview mb-3" *ngIf="imagen">
                    <img class="img-fluid" [src]="imagen" height="500" />
                </div>

                <input type="file" name="image" (change)="preview($event)" accept="image/*"/>
            </div>

            </div>
           <div class="modal-footer">
                <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!galeria.edit">Guardar</span>
                    <span *ngIf="galeria.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </form>
    </ng-template>


</div>
