<app-breadcrumb titulo="Galería" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">

    <div _ngcontent-yej-c10 class="row">
        <!-----------------------------------------------Card Agregar-------------------------->
        <div _ngcontent-mbv-c5="" class="col-md-4 col-sm-12 col-xs-12">
            <div _ngcontent-mbv-c5="" class="card w-75" style="height: 210px;" (click)="openGaleria(contentArea)">
                <div _ngcontent-mbv-c5="" class="card-body text-center">
                    <div _ngcontent-mbv-c5="" class="row justify-content-center align-items-center"
                        style="height: 100px;">
                        <div _ngcontent-mbv-c5="" class="col-12 text-center">
                            <svg _ngcontent-mbv-c5="" class="bi bi-plus" fill="currentColor" height="150px"
                                style="font-weight: bolder; color: #7875ea;" viewBox="0 0 16 16" width="150px"
                                xmlns="http://www.w3.org/2000/svg">
                                <path _ngcontent-mbv-c5=""
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div _ngcontent-yej-c10 class="col-md-4 col-sm-12 col-xs-12"
            *ngFor="let mat of imagenes | filter:filterName; let i=index ">
            <div _ngcontent-mbv-c5 class="card w-75">
                <div _ngcontent-mbv-c5 class="row">

                </div>
                <img style="height: 190px;" [src]="mat.imagen" class="" alt="Card image cap" height="104.69"
                    (click)="openImage(mat)" data-toggle="modal" data-target=".bd-example-modal-lg">
                <div _ngcontent-mbv-c5 class="row">

                    <div class="col-md-10">
                        <p class="card-text" style="font-size: 15px; margin-bottom: 0;">{{mat.titulo}}</p>
                    </div>
                    <div class="col align-self-end"
                        style="text-align:right; margin-bottom: 0; margin-top: 0; padding-left: 0;">
                        <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(mat.ID)"><i
                                class="fa fa-trash text-danger m-r-10"></i> </a>
                    </div>
                </div>

            </div>
        </div>


        <ng-template #contentArea let-modal>
            <div class="modal-header">
                <h4 *ngIf="!galeria.edit" class="modal-title" id="modal-basic-title">Crear Imagen</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="gestionGaleria()" #form="ngForm">
                <div class="modal-body">

                    <div class="form-group">
                        <!-- ImagenCrear -->
                        <div class="image-preview mb-3" *ngIf="imagen">
                            <img class="img-fluid" [src]="imagen" height="100px" width="100px" />
                        </div>
                        <label for="imagen">Imagen de Perfil</label>
                        <input type="file" name="image" (change)="preview($event)" accept="image/*" />
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                            359 x 316.
                        </small>
                    </div>

                    <div class="form-group">
                        <input [value]="titulo" [(ngModel)]="titulo" name="titulo" class="form-control" type="text"
                            required placeholder="Título">
                    </div>
                </div>
                <div class="modal-footer">
                    <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                        <span *ngIf="!galeria.edit">Guardar</span>
                    </button>
                    <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </form>
        </ng-template>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" *ngIf="imagenPerfil">
                    <h4 class="modal-title" id="modal-basic-title">
                        {{imagenPerfil.nombre}}
                    </h4>
                </div>

                <div class="modal-body" *ngIf="imagenPerfil">
                    <figure class="box">
                        <img [src]="imagenPerfil.imagen" alt="image" />
                    </figure>

                </div>

            </div>
        </div>
    </div>