<aside class="left-sidebar" style="background-image: url(./assets/images/Barra-de-menu-morado.png)">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile text-->
            <div class="profile-text">
                <div class="dropdown-menu animated flipInY">
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                    <!-- text-->
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" style="background-color: transparent !important;">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>

                <li> <a class="waves-effect waves-dark" [routerLink]="['casa']" routerLinkActive="active"
                        aria-expanded="false"><i class="fa fa-home"></i><span class="hide-menu">Casas</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['residente']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-male"></i><span class="hide-menu">Usuarios</span></a>
                </li>
                <!-- <li> <a class="waves-effect waves-dark" [routerLink]=""  aria-expanded="false"><i class="fas fa-user-friends"></i><span class="hide-menu">Residentes</span></a>
                </li> -->
                <li> <a class="waves-effect waves-dark" [routerLink]="['admingarita']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-user-shield"></i><span
                            class="hide-menu">Seguridad</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['listabitacora']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-clipboard-list"></i><span class="hide-menu">Registro de
                            Ingresos</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['alicuota']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-hand-holding-usd"></i><span
                            class="hide-menu">Alicuotas</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['emprendimiento']" aria-expanded="false"><i
                            class="fas fa-store-alt"></i><span class="hide-menu">Emprendimientos</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['votacion']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-list-ul"></i><span class="hide-menu">Mi voto</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['areasocial']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-swimmer"></i><span class="hide-menu">Área
                            Social</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['camaras']" aria-expanded="false"><i
                            class="fas fa-video"></i><span class="hide-menu">Cámaras</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['administrativo']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-users "></i><span class="hide-menu">Directiva</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['galeria']" routerLinkActive="active"
                        aria-expanded="false"><i class="far fa-image"></i><span class="hide-menu">Galeria</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['contacto']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-address-book"></i><span
                            class="hide-menu">Horarios</span></a>
                </li>
            
                <li> <a class="waves-effect waves-dark" [routerLink]="['expresoescolar']" aria-expanded="false"><i
                            class="fas fa-bus"></i><span class="hide-menu">Expreso Escolar</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['mail','inbox']" routerLinkActive="active"
                        aria-expanded="false"><i class="far fa-newspaper"></i><span class="hide-menu">Buzón</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" [routerLink]="['autorizados']" routerLinkActive="active"
                        aria-expanded="false"><i class="fas fa-user-shield"></i><span
                            class="hide-menu">Autorizados</span></a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>