<app-breadcrumb titulo="Horarios" [menu]="eta"></app-breadcrumb>

<!--cambio-->

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div _ngcontent-yej-c10 class="row">
                <div _ngcontent-yej-c10 class="col-md-4 col-sm-12 col-xs-12" *ngFor="let mat of contactos let i=index ">
                    <div _ngcontent-mbv-c5 class="card w-76">

                        <img style="height: 170px;" [src]="mat.imagen" class="" alt="Card image cap" height="104.69">
                        <div _ngcontent-mbv-c5 class="row">

                            <div class="col-md-9">
                                <p class="card-text" style="padding-left: 15px; padding-top: 10px;">{{mat.contacto |
                                    titlecase}} </p>
                            </div>
                            <div class="col align-self-end" style="text-align:right;">
                                <a data-toggle="tooltip" data-original-title="Editar"
                                    (click)="openContacto(contentArea, mat)"><i
                                        class="fa fa-pencil text-inverse m-r-10"></i>
                                </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(mat.ID)"><i
                                        class="fa fa-trash text-danger m-r-10"></i> </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label style="font-size: 15px; margin-bottom: 0;">{{mat.horario}}</label>
                        </div>
                        <div class="col-md-12">
                            <label style="font-size: 15px;">{{mat.telefono}}</label>
                        </div>
                    </div>
                </div>
                <div _ngcontent-mbv-c5="" class="col-md-4 col-sm-12 col-xs-12">
                    <div _ngcontent-mbv-c5="" class="card w-76" style="height: 170px;">
                        <div _ngcontent-mbv-c5="" class="card-body text-center">
                            <div _ngcontent-mbv-c5="" class="row justify-content-center align-items-center"
                                style="height: 100%;">
                                <div _ngcontent-mbv-c5="" class="col-12 text-center"
                                    (click)="openContacto(contentArea)">
                                    <svg _ngcontent-mbv-c5="" class="bi bi-plus" fill="currentColor" height="66"
                                        style="font-weight: bolder; color: #7875ea;" viewBox="0 0 16 16" width="66"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path _ngcontent-mbv-c5=""
                                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #contentArea let-modal>
            <div class="modal-header">
                <h4 *ngIf="!contact.edit" class="modal-title" id="modal-basic-title">Crear</h4>
                <h4 *ngIf="contact.edit" class="modal-title" id="modal-basic-title">Editar</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="gestionContacto()" #form="ngForm">
                <div class="modal-body">
                    <div class="form-group" *ngIf="imagenEdit">
                        <label for="imagen">Imagen del Área</label>
                        <div class="image-preview mb-2" *ngIf="imagenEdit">
                            <img [src]="imagenEdit" height="120px" width="100%" />
                        </div>
                        <input type="file" name="image" (change)="editImagen($event)" accept="image/*" />
                    </div>

                    <div class="form-group" *ngIf="!imagenEdit">
                        <label for="imagen">Imagen del Área </label>
                        <input type="file" name="image" (change)="preview($event)" accept="image/*" />
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                            359 x 316.
                        </small>
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input name="nombre" [(ngModel)]="contacto" class="form-control" type="text" required
                            placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label>Horario</label>
                        <input name="horario" [(ngModel)]="horario" class="form-control" type="text" required
                            placeholder="Horario">
                    </div>
                    <!-- <div class="form-group">
                        <label>Correo</label>
                        <input name="correo" [(ngModel)]="correo" class="form-control" type="text" required
                            placeholder="Correo">
                    </div> -->
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input name="telefono" [(ngModel)]="telefono" class="form-control" type="text" required
                            placeholder="Teléfono">
                    </div>

                </div>
                <div class="modal-footer">
                    <button *ngIf="!auth.loading" [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">
                        <span *ngIf="!contact.edit">Guardar</span>
                        <span *ngIf="contact.edit">Editar</span>
                    </button>
                    <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
            </form>
        </ng-template>
    </div>