<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <div class="navbar-brand"><b>
                    <img src="../assets/images/Logo-60.png" alt="homepage" class="dark-logo" />
                    <img src="../assets/images/Logo-60.png" width="50px" alt="homepage" class="light-logo" />
                </b><span>
                    <img src="../assets/images/Logo-60.png" alt="homepage" class="dark-logo" />
                    <img src="../assets/images/Practical-morado.png" width="150px" class="light-logo"
                        alt="homepage" /></span> </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                <li class="nav-item m-l-10"> <a
                        class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->


                <!-- ============================================================== -->
                <!-- Language -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <div *ngFor="let m of masters">
                    <img style="width: 44px; height: 44px; margin-right: 10px;border-radius: 60%;" [src]="m.imagen"
                        alt="user">
                    <strong style="color: white;">{{m.nombres }} {{m.apellido+" "}}</strong>
                    <!-- <a  href="" class="btn btn-secondary ml-3" (click)="openLogOut(contentLogOut)">Salir</a> -->
                    <button href="" class="btn btn-secondary ml-3" (click)="logout()">Salir </button>

                    <!-- <i class="fa fa-sign-out" aria-hidden="true"></i> -->

                    <!-- <i  style="font-size: larger;" class="fa fa-sign-out" aria-hidden="true"></i> -->
                </div>


                <!--<div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box"  *ngFor="let m of masters">
                                    
                                    <div class="u-text">
                                        <h4>{{m.usuario}}</h4>
                                        <p class="text-muted">{{m.correo}}</p>
                                        <p class="text-muted">{{m.telefono}}</p>
                                        <div style="padding-left: 50px;">
                                        
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>-->
            </ul>
        </div>
    </nav>
</header>

<ng-template #contentLogOut let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> AVISO </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="row mt-0">
                    <div class="col-6">
                        <button type="button" class="btn btn-red btn-uppercase ml-1">
                            Cerrar Sesion
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-info btn-uppercase ml-1" (click)="cancelar()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>