<app-breadcrumb titulo="Permisos" [menu]="eta"></app-breadcrumb>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <h4 class="card-title">Lista de Permitidos</h4>
                    <button class="btn btn-dark" (click)="openAutorizado(contentAutorizado)">Crear Permiso</button>
                </div>
                <div class="col-9" style="width: 100% !important ; ">
                    <div class="form-group col-md-4 m-t-20" style="display: inline-flex;float:right">
                        <input type="text" class="form-control" name="filterName" placeholder="Buscar..."
                            [(ngModel)]="filterName">
                    </div>
                </div>
            </div>

            <h6 class="card-subtitle"></h6>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>No</th>
                            <th>Imagen</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula</th>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center; ">
                        <tr
                            *ngFor="let autorizado of autorizados  | multifilter:['usuario.nombres','usuario.apellido','cedula','usuario.correo']:filterName; let i=index ">
                            <td>{{i+1}}</td>
                            <td>
                                <figure>
                                    <img class="avatar" style="height:40px !important" [src]="autorizado.usuario.imagen"
                                        alt="image" data-holder-rendered="true" (click)="openImage(autorizado.usuario)"
                                        data-toggle="modal" data-target=".bd-example-modal-lg" />
                                </figure>
                            </td>
                            <td>{{autorizado.usuario.nombres}}</td>
                            <td>{{autorizado.usuario.apellido}}</td>
                            <td>{{autorizado.cedula}}</td>
                            <td>{{autorizado.usuario.usuario}}</td>
                            <td>{{autorizado.usuario.correo}}</td>
                            <td>{{autorizado.usuario.telefono}}</td>
                            <td>
                                <a data-toggle="tooltip" data-original-title="Editar"
                                    (click)="openAutorizado(contentAutorizado, autorizado)">
                                    <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Eliminar" (click)="delete(autorizado.ID)">
                                    <i class="fa fa-trash text-danger m-r-10"></i> </a>
                                <a data-toggle="tooltip" data-original-title="Info"
                                    (click)="mostrarPermisos(contentPermisos,autorizado)">
                                    <i class="fa fa-info-circle text-inverse m-r-10"></i> </a>

                            </td>
                        </tr>
                        <tr *ngIf="(autorizados).length === 0">
                            <td style="text-align: center !important;" colspan="10"><label class="text-primary">No
                                    existen datos</label></td>

                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #contentAutorizado let-modal>
        <div class="modal-header">
            <h4 *ngIf="!autorizado.edit" class="modal-title" id="modal-basic-title">Crear Permiso</h4>
            <h4 *ngIf="autorizado.edit" class="modal-title" id="modal-basic-title">Editar Permiso</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form (ngSubmit)="gestionAutorizado()" #form="ngForm">
            <div class="modal-body" style="height: 600px; overflow-y: scroll;">
                <div class="form-group">
                    <div class="image-preview mb-3" *ngIf="!changeFoto && usuario.imagen">
                        <img class="img-fluid" [src]="usuario.imagen" height="500" width="100" />
                    </div>
                    <div class="image-preview mb-3" *ngIf="changeFoto">
                        <img class="img-fluid avatar" [src]="imagenEdit" height="500" width="100" />
                    </div>
                    <label for="imagen">Imagen de Perfil</label>
                    <input type="file" name="image" (change)="saveEditPicture($event)" accept="image/*" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        El peso de la imagen debe ser menor 2Mb a y la resolucion debe ser
                        359 x 316.
                    </small>
                </div>

                <div class="form-group">
                    <input [(ngModel)]="usuario.nombres" name="nombres" class="form-control" type="text" required
                        placeholder="Nombres">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="usuario.apellido" name="apellidos" class="form-control" type="text" required
                        placeholder="Apellidos">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="autorizado.cedula" name="cedula" class="form-control" type="number" required
                        placeholder="Cédula">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="usuario.usuario" name="user" class="form-control" type="text" required
                        placeholder="usuario">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="usuario.correo" name="correo" class="form-control" type="email" required
                        placeholder="Correo">
                </div>
                <div class="form-group">
                    <input [(ngModel)]="usuario.telefono" name="telefono" class="form-control" type="number" required
                        placeholder="Teléfono">
                </div>
                <div class="row">
                    <label style="padding-left: 17px; font-size: 18px; padding-bottom: 5px; font-weight: bold;">
                        Permisos</label>
                </div>
                <div class="row">
                    <!-- <div class="col-4"><input type="checkbox" id="cbox1" [(ngModel)]="permisos.casa" name="casa">
                        <label class="permisos" for="cbox1">Casas</label>
                    </div> -->
                    <div *ngIf="modulos.mi_registro" class="col-4">
                        <input type="checkbox" id="cbox2" [(ngModel)]="permisos.ingreso" name="ingreso">
                        <label class="permisos" for="cbox2">Registro de Ingresos</label>
                    </div>
                    <div *ngIf="modulos.votacion" class="col-4">
                        <input type="checkbox" id="cbox3" name="voto" [(ngModel)]="permisos.voto">
                        <label class="permisos" for="cbox3">Mi voto</label>
                    </div>
                    <div *ngIf="modulos.directiva" class="col-4">
                        <input type="checkbox" id="cbox4" name="directiva" [(ngModel)]="permisos.directiva">
                        <label class="permisos" for="cbox4">Directivas</label>
                    </div>
                    <div *ngIf="modulos.mi_registro" class="col-4">
                        <input type="checkbox" id="cbox5" [(ngModel)]="permisos.expreso_escolar" name="expreso_escolar">
                        <label class="permisos" for="cbox5">Expreso Escolar</label>

                    </div>
                    <div class="col-4">
                        <input type="checkbox" id="cbox6" [(ngModel)]="permisos.usuario" name="usuario">
                        <label class="permisos" for="cbox6">Usuarios</label>
                    </div>
                    <div *ngIf="modulos.area_social" class="col-4">
                        <input type="checkbox" id="cbox7" [(ngModel)]="permisos.area_social" name="area_social">
                        <label class="permisos" for="cbox7">Area Social</label>
                    </div>
                    <div *ngIf="modulos.alicuota" class="col-4">
                        <input type="checkbox" id="cbox8" [(ngModel)]="permisos.alicuota" name="alicuota">
                        <label class="permisos" for="cbox8">Alícoutas</label>
                    </div>
                    <div *ngIf="modulos.horario" class="col-4">
                        <input type="checkbox" id="cbox9" name="horario" [(ngModel)]="permisos.horario">
                        <label class="permisos" for="cbox9">Horarios</label>
                    </div>
                    <div *ngIf="modulos.emprendimiento" class="col-4">
                        <input type="checkbox" id="cbox10" [(ngModel)]="permisos.emprendimiento" name="emprendimiento">
                        <label class="permisos" for="cbox10">Emprendimientos</label>

                    </div>
                    <div *ngIf="modulos.galeria" class="col-4">
                        <input type="checkbox" id="cbox11" [(ngModel)]="permisos.galeria" name="galeria">
                        <label class="permisos" for="cbox11">Galería</label>
                    </div>
                    <div *ngIf="modulos.mi_registro" class="col-4">
                        <input type="checkbox" id="cbox12" [(ngModel)]="permisos.seguridad" name="seguridad">
                        <label class="permisos" for="cbox12">Seguridad</label>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" id="cbox13" [(ngModel)]="permisos.buzon" name="buzon">
                        <label class="permisos" for="cbox13">Buzón</label>
                    </div>
                    <div *ngIf="modulos.camara" class="col-4">
                        <input type="checkbox" id="cbox14" name="camara" [(ngModel)]="permisos.camara">
                        <label class="permisos" for="cbox14">Cámaras</label>

                    </div>
                    <div *ngIf="modulos.mi_registro" class="col-4">
                        <input type="checkbox" id="cbox15" name="reserva" [(ngModel)]="permisos.reserva">
                        <label class="permisos" for="cbox15">Temporales</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button *ngIf="!auth.loading" type="submit" class="btn btn-outline-dark">
                    <span *ngIf="!autorizado.edit">Guardar</span>
                    <span *ngIf="autorizado.edit">Editar</span>
                </button>
                <i *ngIf="auth.loading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
        </form>
    </ng-template>

    <ng-template #contentPermisos let-modal>
        <div class="modal-header">
            <h4 class="modal-title encabezado" id="modal-basic-title">Módulos permitidos</h4>
        </div>

        <div class="modal-body">
            <strong class="pregunta"></strong>
            <div class="table-responsive">
                <table id="myTable" class=" permisos table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Módulos</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;" *ngIf="infoPermisos">
                        <tr>
                            <td *ngIf="infoPermisos.casa">Casas</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.usuario">Usuario</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.seguridad">Seguridad</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.ingreso">Registro de Ingresos</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.alicuota">Alícuotas</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.emprendimiento">Emprendimiento</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.voto">Mi voto</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.area_social">Área Social</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.camara">Cámara</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.directiva">Directiva</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.horario">Horarios</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.reserva">Reservaciones</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.expreso_escolar">Expreso Escolar</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.buzon">Buzón</td>
                        </tr>
                        <tr>
                            <td *ngIf="infoPermisos.galeria">Galería</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!infoPermisos">
                        <tr>
                            <td>Permisos no asignados</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>




</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">
                    Imagen de Registro Ingreso
                </h4>
            </div>

            <div class="modal-body text-center" *ngIf="imagenPerfil">
                <figure class="box">
                    <img [src]="imagenPerfil.imagen" alt="image" />
                </figure>
            </div>
        </div>
    </div>
</div>